<header>
    <div class="conteiner">
        <div class="row header-top-info">
            <div class="col-md-4 hidden-sm-down">
                <h1>
                    <img class="tda-header-logo-img-size" src="img/logo.jpg">
                </h1>
            </div>
        </div>
        <%- include ("navbar.ejs") -%>
    </div>
</header>